// Factions that inhabit the zone
Factions(
    factions: [
        (name: Loners, description: "Loners, or free stalkers, are those who chose to remain unaligned with any of the other factions operating in the zone."),
        (name: Duty, description: "Duty is a paramilitary faction that wages war against the Zone itself, seeing it as an incubator for untold horrors that would threaten the entire world if left unchecked."),
        (name: ClearSky, description: "Clear Sky is an independent scientific and military organisation focused on researching and understanding the zone without government oversight or restriction."),
        (name: Monolith, description: "A fanatical religious cult hostile to all but their own."),
        (name: Ecologist, description: "An official body of educated scientists and contracted field assistants sponsored by the Ukrainian government, who research the Zone in order to properly harness its potential for the good of mankind."),
        (name: Bandit, description: "Bandits are Chernobyl's outlaws, who know that while the Ukrainian government has nominal control over the Zone, it is in effect a lawless place. Bandits are members of the criminal underworld who abuse the Zone's anarchic state to hide from the law and continue their illicit dealings."),
        (name: Mercenary, description: "Mercenaries are experienced fighters from all over the world who offer their services as hired soldiers. It is unknown who their true clients are, or why they have interests in the Zone."),
        (name: Military, description: "Ukrainian government's internal troops, Spetsnaz detachments and commisioned stalkers who take a hardline approach to securing the border between the Zone and the outside world."),
        (name: Freedom, description: "Freedom are anarchists and daredevils who fight for unregulated access to the Zone."),
    ]
)